<footer class="footer site-footer">
  <div class="footer-inner site-footer__inner">
    <div class="site-footer__info">
      {{#link "help_center"}}
      <img src="{{settings.logo}}" width="180" height="22" loading="lazy" alt="{{t " home_page" name=help_center.name}}"
        class="site-footer__logo" />
      {{/link}}

      <p class="site-footer__copyright">© 2022 GanttPRO All rights reserved</p>

      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="https://www.facebook.com/GanttPRO/" target="_blank" rel="ugc">
            <svg width="10" height="21" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9.653 7.656v3.487H6.26v9.143H2.79v-9.143H.504V7.656H2.79v-3.4S3.024.858 6.32.858h3.334v3.4H7.366S6.319 4.304 6.319 6v1.656h3.334z" />
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://twitter.com/GanttPROcom/" target="_blank" rel="ugc">
            <svg width="18" height="16" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M17.933 2.487s-.217.874-1.091 1.524c-.875.65-1.092.874-1.092.874s1.092 4.138-3.05 7.836c-4.134 3.697-10.017 2.39-10.45 2.174C1.816 14.678.29 13.804.29 13.804s2.392-.433 3.484-.874c1.091-.433 1.525-.874 1.525-.874s-1.742-.217-2.392-.65c-.65-.433-1.092-1.74-1.092-1.74h1.742s-1.308-.65-1.959-1.524C.95 7.268.95 5.968.95 5.968l1.091.217S.732 4.878.95 3.137c.216-1.74.433-1.957.433-1.957S2.908 4.228 5.74 4.661c2.833.433 3.05.433 3.05.433C7.87-1.008 15.6.56 15.107 2.047c0 0 1.742-.874 1.959-1.307.217-.434-.434 1.957-.434 1.957l1.309-.217-.008.007z" />
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.linkedin.com/company/ganttpro/" target="_blank" rel="ugc">
            <svg width="17" height="18" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M4.143 17H1.14V5.968h3.003V17zM2.592 3.5C1.528 3.5.84 2.76.84 1.75S1.528 0 2.592 0c1.063 0 1.75.74 1.75 1.75S3.718 3.5 2.593 3.5zM13.15 17.032V11.5c0-1.461-.855-2.5-2.002-2.5-.892 0-1.746.342-2.001 1-.064.22 0 .708 0 1v6.032H6.144V6h3.003v2c.19-.73 1.587-2 3.244-2 2.104 0 3.76 1.534 3.76 4.895v6.137H13.15z" />
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.instagram.com/ganttpro_com/" target="_blank" rel="ugc">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M17 3H7C4.79086 3 3 4.79086 3 7V17C3 19.2091 4.79086 21 7 21H17C19.2091 21 21 19.2091 21 17V7C21 4.79086 19.2091 3 17 3ZM7 2C4.23858 2 2 4.23858 2 7V17C2 19.7614 4.23858 22 7 22H17C19.7614 22 22 19.7614 22 17V7C22 4.23858 19.7614 2 17 2H7ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16ZM12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17ZM19 6C19 6.55228 18.5523 7 18 7C17.4477 7 17 6.55228 17 6C17 5.44772 17.4477 5 18 5C18.5523 5 19 5.44772 19 6Z"
                fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.youtube.com/channel/UCugUEbytErTbRtOe5gqR2Uw?sub_confirmation=1"
            target="_blank" rel="ugc">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M17.7642 16.6293H16.6666L16.6717 15.9918C16.6717 15.7084 16.9044 15.4767 17.1886 15.4767H17.2586C17.5435 15.4767 17.7768 15.7084 17.7768 15.9918L17.7642 16.6293ZM13.6473 15.2631C13.3688 15.2631 13.1411 15.4502 13.1411 15.6793V18.78C13.1411 19.0087 13.3688 19.1953 13.6473 19.1953C13.9268 19.1953 14.1548 19.0087 14.1548 18.78V15.6793C14.1548 15.45 13.9268 15.2631 13.6473 15.2631ZM20.3333 13.5287V19.4273C20.3333 20.8422 19.1064 22 17.6066 22H6.39352C4.89329 22 3.66663 20.8422 3.66663 19.4273V13.5287C3.66663 12.1138 4.89329 10.9558 6.39352 10.9558H17.6066C19.1064 10.9558 20.3333 12.1138 20.3333 13.5287ZM7.14152 20.0678L7.14063 13.8542L8.53063 13.8547V12.934L4.82529 12.9284V13.8336L5.98196 13.8369V20.0678H7.14152ZM11.3082 14.7798H10.1493V18.0978C10.1493 18.5778 10.1784 18.8178 10.1475 18.9024C10.0533 19.1598 9.62974 19.4331 9.46463 18.9302C9.43663 18.8422 9.46129 18.5767 9.46085 18.1207L9.45618 14.7798H8.30374L8.30729 18.0682C8.30818 18.5722 8.29596 18.948 8.31129 19.1191C8.33951 19.4207 8.32952 19.7722 8.60929 19.9731C9.13063 20.3487 10.13 19.9171 10.38 19.3802L10.3777 20.0653L11.3084 20.0664L11.3082 14.7798ZM15.0155 18.5793L15.0131 15.8178C15.0122 14.7653 14.2248 14.1351 13.1562 14.9867L13.1608 12.9336L12.0033 12.9353L11.9977 20.022L12.9497 20.0082L13.0364 19.5669C14.2526 20.6827 15.0173 19.918 15.0155 18.5793ZM18.6424 18.2133L17.7735 18.218C17.7731 18.2524 17.7717 18.2922 17.7713 18.3356V18.8204C17.7713 19.08 17.5568 19.2913 17.2964 19.2913H17.1262C16.8653 19.2913 16.6508 19.08 16.6508 18.8204V18.7667V18.2333V17.5451H18.6406V16.7962C18.6406 16.2489 18.6266 15.7018 18.5813 15.3889C18.4388 14.3991 17.0495 14.242 16.3477 14.7487C16.1275 14.9069 15.9593 15.1187 15.8615 15.4031C15.7628 15.6878 15.7137 16.0767 15.7137 16.5707V18.2173C15.7142 20.9547 19.0391 20.5678 18.6424 18.2133ZM14.1851 9.27378C14.2448 9.41911 14.3377 9.53689 14.4637 9.62578C14.5882 9.71333 14.7473 9.75733 14.938 9.75733C15.1051 9.75733 15.2531 9.71222 15.382 9.61911C15.5104 9.52644 15.6186 9.388 15.7071 9.20333L15.6851 9.658H16.9768V4.16444H15.96V8.44C15.96 8.67156 15.7693 8.86111 15.5362 8.86111C15.3044 8.86111 15.1131 8.67156 15.1131 8.44V4.16444H14.0517V7.86978C14.0517 8.34178 14.0604 8.65644 14.0744 8.816C14.0888 8.97444 14.1253 9.12644 14.1851 9.27378ZM10.2704 6.17111C10.2704 5.64378 10.3144 5.232 10.4017 4.93511C10.4897 4.63933 10.6477 4.40156 10.8766 4.22222C11.1048 4.042 11.3971 3.95178 11.7524 3.95178C12.0513 3.95178 12.3073 4.01044 12.5211 4.12533C12.736 4.24089 12.9017 4.39089 13.0166 4.576C13.1337 4.76178 13.2133 4.95267 13.2557 5.148C13.2991 5.346 13.3204 5.64467 13.3204 6.04756V7.43689C13.3204 7.94644 13.3 8.32133 13.2602 8.55933C13.2208 8.798 13.1364 9.01933 13.0055 9.22689C12.8766 9.43222 12.7102 9.58578 12.5084 9.68378C12.3044 9.78267 12.0711 9.83111 11.8075 9.83111C11.5131 9.83111 11.2651 9.79044 11.0606 9.70556C10.8555 9.62111 10.6971 9.49378 10.5842 9.32467C10.4702 9.15533 10.39 8.94911 10.3415 8.70867C10.2928 8.46844 10.2697 8.10711 10.2697 7.62556L10.2704 6.17111ZM11.2822 8.35333C11.2822 8.66444 11.5137 8.91844 11.7957 8.91844C12.078 8.91844 12.3086 8.66444 12.3086 8.35333V5.42889C12.3086 5.11822 12.078 4.86422 11.7957 4.86422C11.5137 4.86422 11.2822 5.11822 11.2822 5.42889V8.35333ZM7.70707 9.83H8.92574L8.92707 5.61667L10.3671 2.00733H9.03418L8.26863 4.68822L7.49218 2H6.17307L7.70507 5.61867L7.70707 9.83Z"
                fill-rule="evenodd"></path>
            </svg>
          </a>
        </li>
      </ul>

      <ul class="app-stores">
        <li class="app-stores__item app-stores__item--apple"><a
            href="https://apps.apple.com/us/app/ganttpro/id1579665713" target="_blank" rel="nofollow"
            title="App Store"></a></li>
        <li class="app-stores__item app-stores__item--google"><a
            href="https://play.google.com/store/apps/details?id=com.ganttpro.app" target="_blank" rel="nofollow"
            title="Google Play"></a></li>
      </ul>

      {{!-- Cookies ... --}}
      {{#is help_center.locale "en-us"}}
      <p class="site-footer__cookies">Cookies help us deliver our services. By using our services, you agree to our use
        of cookies. Read more in
        <a href="https://ganttpro.com/privacy-policy-ganttpro/" target="_blank">Privacy policy</a>.
      </p>
      {{/is}}
      {{#is help_center.locale "ru"}}
      <p class="site-footer__cookies">Используя этот сервис, вы соглашаетесь с нашим правилами по работе с cookies.
        Подробнее в
        <a href="https://ganttpro.com/privacy-policy-ganttpro/" target="_blank">Политике конфиденциальности</a>.
      </p>
      {{/is}}
      {{#is help_center.locale "es"}}
      <p class="site-footer__cookies">Las cookies nos ayudan a brindar nuestros servicios. Al utilizar nuestros
        servicios, usted acepta nuestro uso de cookies. Lea más acerca de esto en nuestra
        <a href="https://ganttpro.com/privacy-policy-ganttpro/" target="_blank">política de privacidad</a>.
      </p>
      {{/is}}

      {{!-- Address --}}
      {{#is help_center.locale "en-us"}}
      <p class="site-footer__contacts">
        <a href="mailto:support@ganttpro.com">support@ganttpro.com</a>
        <a href="tel:+13019797792">+13019797792</a>
      </p>
      {{/is}}
      {{#is help_center.locale "ru"}}
      <p class="site-footer__contacts">
        <a href="mailto:support@ganttpro.com">support@ganttpro.com</a>
        <a href="tel:+13019797792">+13019797792</a>
      </p>
      {{/is}}
      {{#is help_center.locale "es"}}
      <p class="site-footer__contacts">
        <a href="mailto:support@ganttpro.com">support@ganttpro.com</a>
        <a href="tel:+13019797792">+13019797792</a>
      </p>
      {{/is}}

      {{!-- Locales --}}
      {{#if alternative_locales}}
      <div class="site-footer__locales">
        {{#is help_center.locale "en-us"}}
        <a class="site-footer__current-locale">EN</a>
        {{else}}
        <a href="/hc/change_language/en-us?return_to=%2Fhc%2Fen-us" rel="nofollow">EN</a>
        {{/is}}

        {{#is help_center.locale "ru"}}
        <a class="site-footer__current-locale">RU</a>
        {{else}}
        <a href="/hc/change_language/ru?return_to=%2Fhc%2Fru" rel="nofollow">RU</a>
        {{/is}}

        {{!-- Hide es locale
        {{#is help_center.locale "es"}}
        <a class="site-footer__current-locale">ES</a>
        {{else}}
        <a href="/hc/change_language/es?return_to=%2Fhc%2Fes" rel="nofollow">ES</a>
        {{/is}}
        --}}
      </div>
      {{/if}}

    </div>

    {{!-- Navigation --}}
    <ul class="site-footer__nav-list">
      {{!-- English menu --}}
      {{#is help_center.locale "en-us"}}
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Learn more</p>
        <ul>
          <li>
            <a href="https://ganttpro.com/en/why-us-ganttpro/" target="_blank">Why us</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/about-us/" target="_blank">About us</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/ganttpro-features/" target="_blank">Features</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/demo/" target="_blank">Request a demo</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/customer-stories/" target="_blank">Customer stories</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/awards/" target="_blank">Awards</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/partner-offer/" target="_blank">Our partners offer</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/partners/" target="_blank">Partnerships</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/software-discounts-for-nonprofits/" target="_blank">Nonprofit</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/pricing/" target="_blank">Pricing</a>
          </li>
          <li>
            <a href="https://blog.ganttpro.com/en/?_ga=2.196753384.51396472.1631523663-1943221604.1629456423"
              target="_blank">Blog</a>
          </li>
        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Support</p>
        <ul>
          <li>
            <a href="/hc/en-us" target="_blank">Help center</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/terms-of-use-ganttpro/" target="_blank">Terms of service</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/privacy-policy-ganttpro/" target="_blank">Privacy Policy</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/dpa/" target="_blank">Data Processing Agreement</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/security-ganttpro/" target="_blank">Security</a>
          </li>
        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Templates</p>
        <ul>
          <li>
            <a href="https://ganttpro.com/en/software-development-plan-template/" target="_blank">Software
              development</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/agile-waterfall-hybrid-template/" target="_blank">Agile + Waterfall</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/maintenance-schedule-template/" target="_blank">Professional services</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/construction-templates/" target="_blank">Construction</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/marketing-templates/" target="_blank">Marketing</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/event-planning-templates/" target="_blank">Event planning</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/gantt-chart-template/" target="_blank">All templates</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/wedding-templates/" target="_blank">Wedding templates</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/web-design-project-plan-template/" target="_blank">Web design</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/free-new-product-launch-plan-template/" target="_blank">Product launch
              plan</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/strategic-retail-planning-template/" target="_blank">Retail</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/edu-learning-plan-template/" target="_blank">Learning roadmap</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/planners/" target="_blank">Planner templates</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/roadmaps/" target="_blank">Roadmaps</a>
          </li>
        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Solutions</p>
        <ul>
          <li>
            <a href="https://ganttpro.com/en/project-scheduling-software/" target="_blank">Project scheduling</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/gantt-project-planner/" target="_blank">Gantt planner</a>
          </li>
          <li>
            <a href="https://ganttpro.com/cost-estimating-software/" target="_blank">Cost estimating</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/how-create-project-timeline-using-gantt-charts/" target="_blank">Project
              timeline</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/cloud-project-portfolio-management-ppm-software/" target="_blank">Project
              portfolio management</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/free-online-microsoft-mpp-project-viewer/" target="_blank">Online MPP
              viewer</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/jira-integration/" target="_blank">Integration with Jira</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/online-planner/" target="_blank">Online planner</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/resource-management-software/" target="_blank">Resource management</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/project-management-and-time-tracking-software/" target="_blank">Time
              tracking</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/project-roadmap/" target="_blank">Project roadmap</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/task-dependencies/" target="_blank">Task dependencies</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/progress-tracking/" target="_blank">Progress tracking</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/monthly-budget-planner/" target="_blank">Monthly budget planner</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/progress-monitoring-software/" target="_blank">Progress monitoring</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/daily-task-manager/" target="_blank">Daily task manager</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/milestone-software/" target="_blank">Milestone software</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/team-management-software/" target="_blank">Team management</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/personal-task-management-software/" target="_blank">Personal task
              management</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/online-task-management-software/" target="_blank">Task management</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/team-collaboration-software/" target="_blank">Effective collaboration</a>
          </li>
        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Alternative</p>
        <ul>
          <li>
            <a href="https://ganttpro.com/en/wrike-alternative/" target="_blank">Wrike alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/liquidplanner-alternative/" target="_blank">Liquidplanner alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/smartsheet-alternative/" target="_blank">Smartsheet alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/microsoft-project-alternative/" target="_blank">MS Project alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/microsoft-project-online-alternative/" target="_blank">MS Project Online
              alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/teamgantt-alternative/" target="_blank">Teamgantt alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/asana-alternative/" target="_blank">Asana alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/monday-alternative/" target="_blank">Monday alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/celoxis-alternative/" target="_blank">Celoxis alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/aha-alternative/" target="_blank">Aha alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/easyprojects-alternative/" target="_blank">Easyprojects alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/projectlibre-alternative/" target="_blank">ProjectLibre alternative</a>
          </li>
          <li>
            <a href="https://ganttpro.com/en/clarizen-alternative/" target="_blank">Clarizen alternative</a>
          </li>
        </ul>
      </li>
      {{/is}}
      {{!-- Russian menu --}}
      {{#is help_center.locale "ru"}}
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Узнать больше</p>
        <ul>
          <li>
            <a href="https://ganttpro.com/ru/why-us-ganttpro/" target="_blank">Почему GanttPRO</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/about-us/" target="_blank">О проекте и команде</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/ganttpro-features/" target="_blank">Возможности GanttPRO</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/demo/" target="_blank">Записаться на демо</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/customer-stories/" target="_blank">Истории пользователей</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/awards/" target="_blank">Награды</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/partner-offer/" target="_blank">Скидки партнёров</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/partners/" target="_blank">Партнерство</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/software-discounts-for-nonprofits/" target="_blank">Некоммерческие
              организации</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/pricing/" target="_blank">Тарифные планы</a>
          </li>
          <li>
            <a href="https://blog.ganttpro.com/ru/" target="_blank">Блог</a>
          </li>
        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Помощь</p>
        <ul>
          <li>
            <a href="https://blog.ganttpro.com/ru/faq-ru/" target="_blank">Центр поддержки</a>
          </li>
          <li>
            <a href="https://ganttpro.com/terms-of-use-ganttpro/" target="_blank">Условия предоставления услуг</a>
          </li>
          <li>
            <a href="https://ganttpro.com/privacy-policy-ganttpro/" target="_blank">Политика конфиденциальности</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/security-ganttpro/" target="_blank">Безопасность</a>
          </li>
        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Шаблоны</p>
        <ul>
          <li>
            <a href="https://ganttpro.com/ru/software-development-plan-template/" target="_blank">ИТ и технологии</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/agile-waterfall-hybrid-template/" target="_blank">Agile + Waterfall</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/maintenance-schedule-template/" target="_blank">Профессиональные услуги</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/construction-project-schedule-template/" target="_blank">Строительство</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/free-marketing-campaign-template/" target="_blank">Маркетинг</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/event-planning-template/" target="_blank">Организация мероприятий</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/gantt-chart-template/" target="_blank">Шаблоны диаграммы Ганта</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/web-design-project-plan-template/" target="_blank">Веб дизайн</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/free-new-product-launch-plan-template/" target="_blank">Производство
              продукта</a>
          </li>
        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Решения</p>
        <ul>
          <li>
            <a href="https://ganttpro.com/ru/how-create-project-timeline-using-gantt-charts/" target="_blank">Как
              построить диаграмму Ганта</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/cloud-project-portfolio-management-ppm-software/"
              target="_blank">Управление портфелем</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/free-online-microsoft-mpp-project-viewer/" target="_blank">Открыть MPP
              файл</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/jira-integration/" target="_blank">Интеграция c Jira</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/sistema-upravlenija-proektami-online/" target="_blank">Онлайн система
              управления</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/task-manager-na-russkom-online/" target="_blank">Task менеджер</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/sistema-upravlenija-stroitelnymi-proektami/" target="_blank">Управление
              строительными проектами</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/programma-dlja-upravlenija-zadachami-online/" target="_blank">Управление
              задачами онлайн</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/planirovshhik-zadach-online/" target="_blank">Планировщик онлайн</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/planirovshhik-del-i-celej-na-god/" target="_blank">Планирование на год</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/planirovshhik-del-i-celej-na-mesjac/" target="_blank">Планирование на
              месяц</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/planirovshhik-del-i-celej-na-nedelju/" target="_blank">Планирование на
              неделю</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/programma-dlja-kontrolja-vypolnenija-zadach/" target="_blank">Контроль
              выполнения задач</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/sistema-upravlenija-komandoj/" target="_blank">Управление командой</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/sistema-upravlenija-resursami/" target="_blank">Управление ресурсами</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/kalendarnoe-planirovanie-proekta/" target="_blank">Календарное
              планирование</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/sistema-sovmestnoj-raboty/" target="_blank">Совместная работа</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/programma-dlja-planirovanija-proizvodstva/" target="_blank">Планирование
              производства</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/programma-dlja-kontrolja-ispolnenija-poruchenij/" target="_blank">Контроль
              исполнения поручений</a>
          </li>
        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Аналоги</p>
        <ul>
          <li>
            <a href="https://ganttpro.com/ru/wrike-alternative/" target="_blank">Аналог Wrike</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/liquidplanner-alternative/" target="_blank">Аналог Liquidplanner</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/smartsheet-alternative/" target="_blank">Аналог Smartsheet</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/microsoft-project-alternative/" target="_blank">Аналог MS Project</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/microsoft-project-online-alternative/" target="_blank">Аналог MS Project
              Online</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/teamgantt-alternative/" target="_blank">Аналог Teamgantt</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/asana-alternative/" target="_blank">Аналог Asana</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/monday-alternative/" target="_blank">Аналог Monday</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/celoxis-alternative/" target="_blank">Аналог Celoxis</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/aha-alternative/" target="_blank">Аналог Aha</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/easyprojects-alternative/" target="_blank">Аналог Easyprojects</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/projectlibre-alternative/" target="_blank">Аналог ProjectLibre</a>
          </li>
          <li>
            <a href="https://ganttpro.com/clarizen-alternative/" target="_blank">Аналог Clarizen</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/megaplan-alternative/" target="_blank">Аналог Megaplan</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/planfix-alternative/" target="_blank">Аналог Planfix</a>
          </li>
          <li>
            <a href="https://ganttpro.com/ru/bitrix24-alternative/" target="_blank">Аналог Bitrix24</a>
          </li>
        </ul>
      </li>
      {{/is}}
      {{!-- Español menu --}}
      {{#is help_center.locale "es"}}
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">SABER MÁS</p>
        <ul>
          <li>
            <a href="https://ganttpro.es/why-us-ganttpro/" target="_blank">¿Por qué nosotros?</a>
          </li>
          <li>
            <a href="https://ganttpro.es/about-us/" target="_blank">Sobre nosotros</a>
          </li>
          <li>
            <a href="https://ganttpro.es/awards/" target="_blank">Premios</a>
          </li>
          <li>
            <a href="https://ganttpro.es/partner-offer/" target="_blank">Las ofertas de nuestros socios</a>
          </li>
          <li>
            <a href="https://ganttpro.es/partners/" target="_blank">Asociaciones</a>
          </li>
          <li>
            <a href="https://ganttpro.es/software-discounts-for-nonprofits/" target="_blank">Sin fines de lucro</a>
          </li>
          <li>
            <a href="https://ganttpro.es/pricing/" target="_blank">Precios </a>
          </li>
          <li>
            <a href="https://blog.ganttpro.com/es/" target="_blank">Blog</a>
          </li>
          <li>
            <a href="https://ganttpro.es/demo/" target="_blank">Solicita una demo</a>
          </li>
        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Soporte</p>
        <ul>
          <li>
            <a href="https://blog.ganttpro.com/en/faq-en/" target="_blank">Centro de ayuda</a>
          </li>
          <li>
            <a href="https://ganttpro.es/terms-of-use-ganttpro/" target="_blank">Términos de servicio</a>
          </li>
          <li>
            <a href="https://ganttpro.es/privacy-policy-ganttpro/" target="_blank">Política de privacidad</a>
          </li>
          <li>
            <a href="https://ganttpro.es/security-ganttpro/" target="_blank">Seguridad</a>
          </li>
        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Plantillas</p>
        <ul>
          <li>
            <a href="https://ganttpro.es/construction-templates/" target="_blank">Construcción</a>
          </li>
          <li>
            <a href="https://ganttpro.es/marketing-templates/" target="_blank">Marketing</a>
          </li>
          <li>
            <a href="https://ganttpro.es/wedding-templates/" target="_blank">Plantillas para la boda</a>
          </li>
          <li>
            <a href="https://ganttpro.es/event-planning-templates/" target="_blank">Planificación de evento</a>
          </li>
          <li>
            <a href="https://ganttpro.es/gantt-chart-template/" target="_blank">Todas plantillas</a>
          </li>
          <li>
            <a href="https://ganttpro.es/software-development-plan-template/" target="_blank">Desarrollo de software</a>
          </li>
          <li>
            <a href="https://ganttpro.es/web-design-project-plan-template/" target="_blank">Diseño web</a>
          </li>
          <li>
            <a href="https://ganttpro.es/free-new-product-launch-plan-template/" target="_blank">Plan de lanzamiento de
              producto</a>
          </li>
          <li>
            <a href="https://ganttpro.es/maintenance-schedule-template/" target="_blank">Servicios profesionales</a>
          </li>
          <li>
            <a href="https://ganttpro.es/project-management-consulting-template/" target="_blank">Consultoría</a>
          </li>
          <li>
            <a href="https://ganttpro.es/strategic-retail-planning-template/" target="_blank">Ventas minoristas</a>
          </li>
          <li>
            <a href="https://ganttpro.es/edu-learning-plan-template/" target="_blank">Hoja de ruta para el prcoeso de
              aprendizaje</a>
          </li>
          <li>
            <a href="https://ganttpro.es/seo-marketing-plan-template/" target="_blank">Plantilla de SEO</a>
          </li>
        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Soluciones</p>
        <ul>
          <li>
            <a href="https://ganttpro.es/free-online-microsoft-mpp-project-viewer/" target="_blank">Visor MPP Online</a>
          </li>

        </ul>
      </li>
      <li class="site-footer__nav-item">
        <p class="site-footer__nav-title">Alternativas</p>
        <ul>
          <li>
            <a href="https://ganttpro.es/wrike-alternative/" target="_blank">Alternativa a Wrike</a>
          </li>
          <li>
            <a href="https://ganttpro.es/liquidplanner-alternative/" target="_blank">Alternativa a Liquidplanner</a>
          </li>
          <li>
            <a href="https://ganttpro.es/smartsheet-alternative/" target="_blank">Alternativa a Smartsheet</a>
          </li>
          <li>
            <a href="https://ganttpro.es/microsoft-project-alternative/" target="_blank">Alternativa a MS Project</a>
          </li>
          <li>
            <a href="https://ganttpro.es/microsoft-project-online-alternative/" target="_blank">Alternativa a MS Project
              Online</a>
          </li>
          <li>
            <a href="https://ganttpro.es/teamgantt-alternative/" target="_blank">Alternativa a Teamgantt</a>
          </li>
          <li>
            <a href="https://ganttpro.es/asana-alternative/" target="_blank">Alternativa a Asana</a>
          </li>
          <li>
            <a href="https://ganttpro.es/monday-alternative/" target="_blank">Alternativa a Monday</a>
          </li>
          <li>
            <a href="https://ganttpro.es/celoxis-alternative/" target="_blank">Alternativa a Celoxis</a>
          </li>
          <li>
            <a href="https://ganttpro.es/aha-alternative/" target="_blank">Alternativa a Aha</a>
          </li>
          <li>
            <a href="https://ganttpro.es/easyprojects-alternative/" target="_blank">Alternativa a Easyprojects</a>
          </li>
          <li>
            <a href="https://ganttpro.es/projectlibre-alternative/" target="_blank">Alternativa a ProjectLibre</a>
          </li>
          <li>
            <a href="https://ganttpro.es/clarizen-alternative/" target="_blank">Alternativa Clarizen</a>
          </li>
        </ul>
      </li>
      {{/is}}
    </ul>

  </div>
</footer>

<script src="https://ganttpro.com/gpauth/client"></script>
